html, body {
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  background: #000;
  font-size: 150px;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.content {
  width: 60%;
  display: flex;
}
#play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 150px;
  font-size: 1em;
  color: #f00;
  cursor: pointer;
  transition: all .5s ease-out;
}

#play:hover {
  color: #fff;
  text-shadow: 3px 5px 2px rgb(255, 0, 0), 6px 8px 2px rgb(255, 255, 255);
}
.list {
  color: #f00;
  font-size: 20px;
  padding: 5px 15px;
  overflow-y: scroll;
}
.list .days {
  cursor: pointer;
}
.list .days:hover {
  color:  #fff;
}

@media only screen and (min-width: 570px) and (max-width: 770px) {
  .content {
    width: 90%;
    font-size: .5em;
  }
}
@media only screen and (min-width: 380px) and (max-width: 570px) {
  .content {
    width: 90%;
    font-size: .4em;
  }
}
@media only screen and (max-width: 380px) {
  .content {
    width: 90%;
    font-size: .35em;
  }
}
